*{
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    margin: 0 auto;
    /*background-color: tomato;
    height: 100vh; */
}
.gg{
font-family: sans-serif;
font-size: 30px;
color: blue;
text-align: center;
margin-bottom: 32px;
}
.gallery_img{
    width: 470px;
    height: 280px;
    object-fit: cover;
    border: 2px solid blue;
    border-radius: 16px;
}
.gallery{
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 375px){
.gallery{
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}
}








